<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>login</title>  
    {% load static %}  
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">  
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
</head>  
<body>  

  {% comment %} <nav class="navbar navbar-expand-lg bg-transparent py-2 px-5 border-bottom border-primary-subtle border-3 " style="position:absolute">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"> <img src="{% static 'images/logo.png' %}" style="width:50px"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" style="margin-left:3%">
        <ul class="navbar-nav text-white">
           <li class="nav-item px-2">
            <a class="nav-link active text-white" aria-current="page" href="/checkup">Check Vitals</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>  {% endcomment %}

  <section class="d-flex  " style="--bs-gutter-x: 0;">
    <div class="col-lg-6 px-3 px-3 pt-5" style="position:absolute;width:70vw;height:100vh;background:rgb(112,0,209);background:linear-gradient(142deg, rgba(112,0,209,1) 0%, rgba(144,96,189,1) 61%, rgba(255,255,255,1) 100%)">
        <section style="position:relative; top:0vh; left:25vw; z-index:100; width:50vw" class="bg-light p-4 rounded">
           <!-- Pills navs -->
<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-login" data-mdb-toggle="pill" href="/login" role="tab"
        aria-controls="pills-login" aria-selected="false">Login</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab-register" data-mdb-toggle="pill" role="tab"
        aria-controls="pills-register" aria-selected="true">Register</a>
    </li>
  </ul>
  <!-- Pills navs -->
  
  <!-- Pills content -->
  <div class="tab-content">
    <div class="tab-pane fade show active " id="pills-register" role="tabpanel" aria-labelledby="tab-register">
      <form action="/addUser/" method="post" >
        {% csrf_token %}
        <!-- Name input -->
        <div class="form-outline mb-4">
          <input type="text" id="registerName" name="registerName" class="form-control" value="{{current_name}}"/>
          <label class="form-label" for="registerName">Name</label>
        </div>
  
        <!-- Username input -->
        <div class="form-outline mb-4">
          <input type="text" id="registerUsername" name="registerUsername" value="{{current_name}}"class="form-control" />
          <label class="form-label" for="registerUsername">Username</label>
        </div>
  
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="registerEmail" name="registerEmail" value="{{current_name}}"class="form-control" />
          <label class="form-label" for="registerEmail">Email</label>
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="registerPassword" name='registerPassword' value='{{current_name}}'class="form-control" />
          <label class="form-label" for="registerPassword">Password</label>
        </div>
  
        <!-- Submit button -->
        <button type="submit" value="Submit" class="btn btn-primary btn-block mb-3">Sign up</button>

      </form>
    </div>
  </div>
  <!-- Pills content -->
          </section>

    </div>
  </div>
   <div class="col-lg-6 py-3 align-items-center" style="margin-left:50vw;height:100vh;background: rgb(139,103,170);
   background: linear-gradient(142deg, rgba(139,103,170,1) 0%, rgba(105,12,210,1) 48%, rgba(3,38,148,1) 100%);clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);">
     
      {% comment %} <img src="{% static 'images/resultIllus.png' %}" style="margin-top:7%;padding-right:10%; width:700px"/> {% endcomment %}
    </div>

  </section>

</body>  
</html>